/* contact.module.css */

.back {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60%;
  max-height: 500px;
  background: linear-gradient(to bottom, #46235b, rgb(169, 113, 119), black);

  filter: blur(20px);
  z-index: -1;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: white;
  padding-top: 150px;
  margin-bottom: 5%;
}

.header h1 {
  font-family: var(--geist);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.header p {
  font-family: var(--geist);
  font-size: 1rem;
  opacity: 0.8;
}

.container {
  display: flex;
  padding: 2rem;
  color: white;
  font-family: var(--geist);
  font-weight: 400;
}

.formCardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 1200px;
}

.formCard {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(177, 90, 255, 0.3);
  max-width: 600px;
  width: 100%;
  color: white;
  height: 90%;
  max-height: 600px;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input,
.inputNnE,
.textarea {
  padding: 0.6rem 1rem;
  border: 1px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  outline: none;
}

.textarea {
  height: 120px;
  border-radius: 16px;
  resize: none;
}

.button {
  display: block;
  margin: 1rem auto 0;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #a64ac9, #7b2ff7);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s ease;
}

.button:hover {
  background: linear-gradient(to right, #7b2ff7, #a64ac9);
}

.contactInfo {
  flex: 1;
  min-width: 250px;
  display: flex; /* Add this */
  flex-direction: column; /* Add this */
  justify-content: flex-end; /* Add this */
  justify-items: center;
}

.contactInfoBox {
  flex: 1;
  display: flex; /* Add this */
  flex-direction: column; /* Add this */
  justify-content: space-between; /* Add this */
  height: 100%; /* Add this */
  padding-left: 20%;
  padding-top: 30px;
}

.map {
  margin: 2rem;
  max-width: 600px;
}

.infoT {
  font-family: var(--geist);
  font-weight: 400;
  font-size: 35px;
}
.infoT1 {
  font-family: var(--geist);
  font-weight: 400;
  font-size: 45px;
}
.infoT2 {
  padding-top: 25px;
  font-family: var(--geist);
  font-weight: 400;
  font-size: 30px;
  padding-bottom: 10px;
}

.infoT3 {
  font-family: var(--geist);
  font-weight: 400;
  font-size: 20px;
}

.infoT4 {
  font-family: var(--geist);
  font-weight: 400;
  font-size: 25px;
  padding-top: 40px;
}

.infoT5 {
  font-family: var(--geist);
  font-weight: 400;
  font-size: 30px;
  padding-top: 10px;
}

.infoT6 {
  font-family: var(--geist);
  font-weight: 400;
  font-size: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 1.2rem;
    height: 100%;
  }

  .formContainer,
  .contactInfo {
    padding: 1.5rem 1rem;
  }

  .formContainer {
    margin-bottom: 2rem;
  }

  .row {
    flex-direction: column;
    gap: 0px;
  }

  .formCardBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  .inputNnE {
    width: 50%;
  }
  .infoT {
    font-family: var(--geist);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  }
  .infoT1 {
    font-family: var(--geist);
    font-weight: 700;
    font-size: 20px;
  }
  .infoT2 {
    padding-top: 25px;
    font-family: var(--geist);
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 10px;
  }

  .infoT3 {
    font-family: var(--geist);
    font-weight: 400;
    font-size: 20px;
  }

  .infoT4 {
    font-family: var(--geist);
    font-weight: 200;
    font-size: 15px;
    padding-top: 10px;
  }

  .infoT5 {
    font-family: var(--geist);
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .infoT6 {
    font-family: var(--geist);
    font-weight: 400;
    font-size: 13px;
  }

  .contactInfoBox {
    padding-left: 0%;
  }
}
