.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    width: 90%;
    margin-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: flex-start;
}
.cards-grid > * {
    flex: 0 0 calc(33.33% - 15px);
    max-width: calc(33.33% - 15px);
    transform: scale(0.8);
    box-sizing: border-box;
}

.top-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.top-3 > * {
    flex: 0 0 30%;
    max-width: 30%;
    transform: scale(0.8);
    box-sizing: border-box;
}

.top-rest {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    width: 100%;
    margin-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: flex-start;
}
.top-rest > * {
    flex: 1 1 calc(25% - 15px);
    transform: scale(0.91);
    box-sizing: border-box;
}

.top-3-main {
    transform: scale(1.05);
    width: 100%;
    margin-bottom: 5%;
    place-items: center;
}

.card img {
    width: 100%;
    height: auto;
}

.headname-card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 650px) {
    .cards-grid {
        width: 100%;
    }
    .cards-grid > * {
        flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);
        transform: scale(0.91);
    }

    .top-rest > * {
        flex: 1 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }

    .top-3 {
        flex-direction: column;
        align-items: center;
        transform: scale(0.9);
    }

    .top-3 > * {
        flex: 0 0 auto;
        max-width: 100%;
        font-size: medium;
    }

    .top-3 > :nth-child(1) {
        order: 2;
    }

    .top-3-main {
        order: 1;
        transform: scale(1);
        margin-bottom: 10%;
        margin-top: -20%;
    }

    .top-3 > :nth-child(3) {
        order: 3;
    }
}
