.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  gap: 3rem;
  font-weight: 500;
  font-size: 1.2rem;
  list-style: none;
  margin-left: auto;
  align-items: center;
}

.button {
  min-width: 115px;
  height: 39px;
  top: 53px;
  left: 1271px;
  border-radius: 50px;
  color: white;
  background: #623280;
  border: none;
  font-weight: 500;
  font-size: larger;
  font-family: var(--inter);
  cursor: pointer;
}
