:root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}

a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

