.section {
  background-color: #845f9d;
  border-radius: 3rem;
  max-width: 85vw;
  padding: 4rem 0rem 3.5rem 2rem;
  color: white;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  position: relative;
  margin: 1rem auto;
  z-index: 1;
  overflow: hidden;
  align-items: center;
}

.left {
  margin-right: 2rem;
  display: flex;
  width: 45%;
  max-width: 50%;
  flex-direction: column;
  word-wrap: break-word;
  align-items: space-between;
}

.right {
  margin: 1rem 0rem;
  width: 50%;
  display: flex;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  gap: 1rem;
  cursor: grab;
}

.right-section::-webkit-scrollbar {
  display: none;
}

.section h2 {
  font-size: 3rem;
  margin: 1rem 0rem 0.5rem 2rem;
  position: absolute;
  top: 5%;
}
.section h6 {
  line-height: 1.5;
  font-size: 1.2rem;
  max-width: 55%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.box {
  color: black;
  border-radius: 2rem;
  margin-left: 1.5rem;
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: normal;
  overflow-wrap: break-word;
  flex-wrap: wrap;
  max-width: 460px;
  min-width: 65%;
  max-height: 280px;
  scroll-snap-align: start;
}

.box h3 {
  flex: 1;
  margin: 0.75rem 0rem;
}

.image {
  object-fit: contain;
  flex: 1;
}

#box1 {
  background: #ffead8;
}

#box2 {
  background: #fee1fd;
}

#box3 {
  background: #b7c6ff;
}

.box p {
  font-weight: 300;
  flex-basis: 100%;
  margin: 0px;
}
