.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    z-index: 1;
}

.heading {
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}

.carouselWrapper {
    width: 120vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 20px 0 100px;
    overflow: visible;
    perspective: 1000px;
    left: 50%;
    min-height: fit-content;
    transform: translateX(-52%);
}

.carousel {
    overflow: visible;
    height: fit-content;
}

.card {
        width: 400px; /* must match slideWidth */
    max-height: 500px;
    height: fit-content;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center center;
    will-change: transform;
    background: black;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.title {
    position: absolute;
    color: white;
    font-family: var(--geist);
    font-size: 1.5rem;
    font-weight: 400;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    text-wrap-mode: nowrap;
    padding: 15px;
    background: black;
    border-radius: 0 0 20px 20px;
    z-index: 2;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 14rem;
}

.navButton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #5f2e7f;
    padding: 0;
    /* line-height: 1; */
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    bottom: -60px;
}

.navButton:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.navButton svg {
    width: 24px;
    height: 24px;
}


@media (max-width: 1200px) {
}

@media (max-width: 768px) {
    .heading {
        font-size: 2.5rem;
    }
}
